.tile {
    text-align: center;
    background-color: mediumpurple;
    color: azure;
    position: absolute;
    transition: all 500ms;
}

.author {
    font-weight: normal;
    font-family: "Times New Roman", "Kaiti SC", serif;
}

#puzzleFrame {
    position: relative;
    border: red dotted;
    margin-bottom: 10px;
}

#puzzleArea {
    float: left;
}

#tile0 {
    visibility: hidden;
}

#puzzleInfo {
    margin-bottom: 10px;
    padding: 5px;
    border: lightgray dotted 3px;
}

#solvePuzzle {
    margin-top: 10px;
    border: darkblue dotted 3px;
    padding: 5px;
}

.box {
    display: flex;
    justify-content: center;
    padding: 10px;
}

#options {
    float: left;
    margin-left: 50px;
}
