.tile {
    text-align: center;
    background-color: mediumpurple;
    border: solid lightgreen 5px;
    color: azure;
    position: absolute;
    transition: left 500ms, top 500ms;
}

#puzzleFrame {
    position: relative;
    border: red dotted;
}

#tile0 {
    visibility: hidden;
}
